body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #66ccff;
  background: url('sfondoportfolio.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2 {
  text-align: center;
  margin-top: 2rem;
  text-shadow: 0 0 10px #000;
}

section {
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  border-radius: 10px;
}

.eye {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px;
  box-shadow: 0 0 20px #00f;
  z-index: 1;
}

.pupil {
  width: 20px;
  height: 20px;
  background: #66ccff;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 20px;
}
